.noutati_container {
    width: 100%;
    padding: 4rem 2rem;
    max-width: var(--max-width);
    /* margin: 0 auto; */
}

.noutati_header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.noutati_header h2 {
    width: fit-content;
    color: var(--text-color);
}

.noutati_header a {
    color: var(--text-color);
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: 0.3s ease;
}

.noutati_header a svg {
    transition: transform 0.3s ease;
}

.noutati_header a:hover {
    color: var(--accent2);
}

.noutati_header a:hover svg {
    transform: translateX(5px);

}

.noutati_header .linie {
    flex: 1;
    height: 10px;
    /* background-color: #ff9100; */
    border-top: 3px solid #cc924a;
    border-bottom: 3px solid #cc924a;
    margin-left: 1rem;
}

.noutati_content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noutati_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    row-gap: 2rem;
}

.noutati_card {
    position: relative;
    filter: drop-shadow(10px 24px 15px #000000);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.noutati_card:hover {
    transform: scale(1.05);
    z-index: 100;
}


.noutati_card img {
    width: 100%;
    background: #fff;
    height: 300px;
    object-fit: cover;
    border-radius: 2px;
    object-position: 50% 50%;
    aspect-ratio: 1/1;
}

.noutati_card .disk {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    /* background: red; */
    width: 210px;
    transform: translate(0%, -50%);
    z-index: -10;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noutati_card:hover .disk {
    transform: translate(12%, -50%) scale(1.1);
}

.noutati_card_banner {
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noutati_card_banner_txt {
    font-size: 3rem;
    position: absolute;
    color: #fff;
    font-weight: 500;
    font-family: "Lacheyard Script", cursive;
}

@media (max-width: 768px) {
    .noutati_content {
        grid-template-columns: repeat(1, 1fr);
    }

    .noutati_header h2 {
        font-size: 1.25rem;
    }

    .noutati_card img {
        height: 200px;
    }

    .noutati_card .diskVi {
        height: 40vw;
        width: 40vw;
    }

    .noutati_card .disk {
        transform: translate(-10%, -50%);
    }

    .noutati_card:hover .disk {
        transform: translate(0%, -50%);
    }
    .noutati_content_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}