:root {
  --text-color: #0a0a0a;
  --accent1: #eec99d;
  --accent2: #b5510f;
  --max-width: 1280px;
  --foreground: #1f1f1f;
}

@font-face {
  font-family: "Lacheyard Script";
  src: url("../fonts/LacheyardScript.otf") format("opentype");
}




html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --_noise-texture: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'><defs><filter id='n' x='0' y='0' width='100%' height='100%' color-interpolation-filters='sRGB'><feTurbulence type='fractalNoise' baseFrequency='0.3' numOctaves='3' stitchTiles='stitch' result='t'/><feColorMatrix type='saturate' values='0' in='t' result='g'/><feComponentTransfer in='g' result='a'><feFuncA type='linear' slope='0.5'/></feComponentTransfer></filter></defs><rect width='100%' height='100%' filter='url(%23n)'/></svg>");

  --_noise-size: 10%;
  --_gradient: --_noise-size: 1.3%;
  --_gradient: linear-gradient(90deg, #eec99d, #fdebd1, #eec99d);
  ;

  background-image: var(--_noise-texture), var(--_gradient);
  background-size: var(--_noise-size), auto;
  background-position: center, center;
  background-repeat: repeat, repeat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}



a {
  color: inherit;
  text-decoration: none;
}



.stripe {
  background: #c44804;
  width: 100%;
  height: 4px;
}

.reveal-section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}
